<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InstagramClone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B2E9F542654264C009A3631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B2E9F6D2654265C009A3631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B2E9F782654265D009A3631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
